// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas, #map_canvas {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

  #map-canvas, #map_canvas {
    height: 650px;
  }
}

#panel-main {
  position: absolute;
  top: 5px;
  left: 85px;
  z-index: 5;
  // background-color: #fff;
  // border: 1px solid #999;
  width: 300px;

  // ul {
  //   list-style: none;
  //   margin: 0;
  //   padding: 0;
  // }

  // li {
  //   padding: 2px 8px;
  // }
  // li:hover {
  // background: lightgray;
  // }
  // li:active {
  //   background: darkgray;
  // }

  // .covered {
  //   background: orange;
  // }

  // a {
  //   text-decoration: none;
  //   color: #000;
  // }
  // div {
  //   display: inline-block;
  // }

}

.row-padding {
  padding: 0px 5px;
}

#main-view-factor {
}

#legend-gradient-container {
 display: inline-block;
}

#legend_gradient {
  width: 100px;
  height: 10px;
  display: inline-block;
}

.redToGreen {
  background: #ff0000;
  background: -moz-linear-gradient(left,  #ff0000 0%, #ffff00 50%, #00ff00 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff0000), color-stop(50%,#ffff00), color-stop(100%,#00ff00));
  background: -webkit-linear-gradient(left,  #ff0000 0%,#ffff00 50%,#00ff00 100%);
  background: -o-linear-gradient(left,  #ff0000 0%,#ffff00 50%,#00ff00 100%);
  background: -ms-linear-gradient(left,  #ff0000 0%,#ffff00 50%,#00ff00 100%);
  background: linear-gradient(to right,  #ff0000 0%,#ffff00 50%,#00ff00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#00ff00',GradientType=1 );
}

.greenToRed {
  background: #00ff00;
  background: -moz-linear-gradient(left,  #00ff00 0%, #ffff00 50%, #ff0000 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00ff00), color-stop(50%,#ffff00), color-stop(100%,#ff0000));
  background: -webkit-linear-gradient(left,  #00ff00 0%,#ffff00 50%,#ff0000 100%);
  background: -o-linear-gradient(left,  #00ff00 0%,#ffff00 50%,#ff0000 100%);
  background: -ms-linear-gradient(left,  #00ff00 0%,#ffff00 50%,#ff0000 100%);
  background: linear-gradient(to right,  #00ff00 0%,#ffff00 50%,#ff0000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff00', endColorstr='#ff0000',GradientType=1 );
}

#loading {
  position: absolute;
  width: 180px;
  left: 50%;
  margin-left: -90px;
  height: 180px;
  top: 50%;
  margin-top: -90px;
  display:none;
}

#rader-body {
  // overflow: hidden;
  // margin: 0;
  // font-size: 14px;
  // font-family: "Helvetica Neue", Helvetica;
}

#radar-chart {
  // position: absolute;
  // top: 50px;
  // left: 100px;
}	
